<!DOCTYPE html>
<html>
<!-- <html manifest="manifest.appcache"> -->
<head>
        <meta charset="utf-8"/>
        <title>Present!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="http://jquerymobile.com/demos/1.2.0/docs/_assets/css/jqm-docs.css" />
        <link rel="stylesheet" href="/stylesheets/custom.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/javascripts/custom.js"></script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
        <script src="http://jquerymobile.com/demos/1.2.0/docs/_assets/js/jqm-docs.js"></script>
        <script src="/javascripts/hide-address-bar.js"></script>
        <script src="/nowjs/now.js"></script>
        <script>


	$(document).bind('pageinit', function() {
           console.log("Nu moet qrcode decoded worden"); 

           // ${id}, ${qrcode}
           var decoded = $('<div/>').html('${qrcode}').text();
           $('#qrcode').html(decoded);
        });

        </script>
</head>
<body>

<div data-role="page" data-theme="c" id="home">
        <header data-role="header" data-position="fixed" data-theme="a">
                <h1>Present!</h1>
                <div data-role="navbar">
                <ul>
                        <li><a href="#" class="ui-btn-active">Home</a></li>
                        <li><a href="#questions">Questions</a></li>
                        <li><a href="#about">About</a></li>
                </ul>
                </div><!-- /navbar -->
        </header><!-- /header -->

        <section data-role="content">
                <p>uuid: ${id}</p>
                <p id="qrcode"></p>
                <p><a href="${url}">${url}</a></p>

        </section><!-- /content -->

        <footer data-role="footer" class="footer-docs" data-theme="c">
                <p class="jqm-version"></p>
                <p>&copy; 2012 jQuery Foundation and other contributors</p>
        </footer><!-- /footer -->
</div><!-- /page -->


</body>
</html>
